/*
Custome styles
*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#notification-container {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
}

.is-borderless {
    border: none !important;
}

.justify-content-start {
    justify-content: start !important;
}

/**
Extensions fixes
**/
.datetimepicker.is-active {
    z-index: 100;
}